@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center main-content-card">

    <div class="icon-display">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-shield-slash-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.03.22a.5.5 0 0 0-.583.743l14 14.5a.5.5 0 0 0 .829-.374V2.5A1.5 1.5 0 0 0 13.5 1H2.531zm-.32 1.45 1.258 1.309A1.5 1.5 0 0 0 1 4.5v7.5A1.5 1.5 0 0 0 2.5 13.5h7.219l1.258 1.309a1.5 1.5 0 0 0 1.954-.157L1.894 2.83a1.5 1.5 0 0 0-.965-.98Z" />
        </svg>
    </div>

    <h1 class="display-5 fw-bold text-danger">@ViewData["Title"]</h1>
    <p class="lead text-muted">You do not have the necessary permissions to view this resource.</p>
    <hr class="my-4">
    <p>If you believe you should have access, please contact your administrator.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Go to Home Page</a>
</div>